.tab {
   text-align:center;
   background-image:url(rm.png);
   background-position:center; 
   background-repeat:no-repeat;  
   background-attachment:fixed;   
   background-size:contain;
   border-collapse:collapse;
   font-size:80%;
}

.week {
   background:#FFFFFF;
}

h1 {
   text-align:center;
}

td, th {
  padding-top:10%;
  padding-bottom:10%;
  width:10%;
}
td {
  font-size:150%;
}
