table {
            font-family:segoe print, sans-serif;
            font-size:20px;
            border:solid 15px #800080;
            border-collapse:collapse;
            background-position:center;
            background:url(rm.jpg) no-repeat;
        }
 .text {
       text-align:center;
       }
 body { 
      background:url(fon.jpg)no-repeat; 
      background-size:cover;
      }

.week {
 background:#FFFFFF; 
}
td, th {
  width:50px;
  height:50px;
  text-align:center;
}
border {
 color:#800080;
}  
