table {
            font:2em segoe print, sans-serif;
            font-size:20px;
            }
      .text{
            text-align:center;
            }
body { 
              background:url(fon.jpg)no-repeat; 
              background-size:cover;
            }
      
      .white {
            background:#FFFFFF;
             }
      .black{
             background:#000000;
            }
       .box { 
             text-align:center;
             }
       .chess-board { 
                     border-spacing:0; 
                     border-collapse:collapse; 
                    }
       .chess-board th { 
                        padding:10px; 
                       }
       .chess-board td { 
                        border:1px solid;
                        width:55px; 
                        height:55px; 
                        text-align:center; 
                        vertical-align:middle;
                       }
