body {
  background-image:url(fon.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
} 


.foxx {
 width:1024px;
 height:704px;
 text-align: center;
}

.spisok {
 padding-top:100px;
 padding-bottom:100px;
 background-color:#FFFFFF;
}
.spisok2 {
 padding-top:100px;
 padding-bottom:100px;
 background-color:#FF4500;
}

.gr {
 margin-left:70px;
 margin-right:70px;
}

.zagol {
 font-size:25px;
}
