body {
  background-image:url(fon.jpg);
  background-position:center center;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-size:cover;
}

.foxx {
 text-align: center;
 border: 5px solid #8B008B;
}

.spisok {
 font: italic 30px "Arial",serif;
 padding-top:100px;
 padding-bottom:100px;
}
.spisok2 {
 font: italic 30px "Arial",serif;
 padding-top:100px;
 padding-bottom:100px;
}

.gr {
 margin-left:70px;
 margin-right:70px;
}

.zagol {
 font-size: 25px;
}

.DivBackground {
 background-color:rgba(100%,100%,100%,0.5);
 border:5px solid #8B008B;
 padding:0px;
 margin-left:10%;
 margin-right:10%;
 border-radius:5px;
}
