h1,h2,h3 {
    font: bold 3em "Game of Thrones KG",serif;
    font-weight:250;
    font-stretch:expanded;
    font-size:80px;
    color:#8B008B;
    text-align:center;

}

form {
    margin-top:1%;
    margin-bottom:1%;
    margin-left:1%;
}
.guk {
    width:350px;
    height:250px;
}
body {
    background-image:url(C1ark.jpg);
    background-position:center center;
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
ol{
    counter-reset:myCounter;
}
ol li{
    list-style:none;
}
ol li::before{
    counter-increment: myCounter;
    content:" " counters(myCounter, ".");
}
.back {
    border:5px solid #800080;
    font:italic 30px "Arial", serif;
    background-color:rgba(255, 255, 255, 0.7);
    margin-left:20%;
    margin-right:20%;
}
input[type="radio"] {
    transform:scale(2);
    padding:10px;
    margin-top:-2px;
    margin-right:10px;
}
input[type="checkbox"] {
    transform:scale(2);
    padding:10px;
    margin-top:-2px;
    margin-right:10px;
}
input[type="text"]{
    height:40px;
    font-size:30px;
}
input[type="button"]{
    width:400px;
    height:60px;
    font-size:30px;
    text-align:center;

}
.modal {
    display:none;
    position:fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    overflow:auto;
    background-color:rgba(0, 0, 0, 0.3);
}
.modal:target {
    display:table;
    position:absolute;
}

.modal-dialog {
    display:table-cell;
    vertical-align:middle;
}

.closebtn {
    text-decoration:none;
    float:right;
    font-size:50px;
    font-weight:bold;
    color:Red;
}

.container {
    text-align:center;
    font-size:50px;
    color:Black;
    border:2px solid #800080;
    background-color: White;
    margin-left:20%;
    margin-right:20%;
}

@font-face {
   font-family: Game of Thrones KG; 
   src:url(9327.ttf); 
}
