.ab1
{
    background-color:#ff8379;
    font-family:cursive;
    font-style:italic;
    font-size:60px;
    color:#ffceb9;
    height:200px;
    padding-left:100px;
    padding-top:50px;
}
.ab2
{
    background-color:#ffecb4;
    font-family:serif;
    font-style:normal;
    font-size:40px;
    color:#e87978;
    height:200px;
    padding-left:600px;
    padding-top:50px;
}
.ab3
{
    background-color:#f5807f;
    font-family:fantasy;
    font-style:oblique;
    font-size:50px;
    color:#625673;
    height:200px;
    text-align:right;
    padding-right:300px;
    padding-top:50px;
}
.ab1:hover
{
    background-color:#fa5d71;
}
.ab2:hover
{
    background-color:#fff4e0;
}
.ab3:hover
{
    background-color:#fefaeb;
}
