  h2,h1 {
    font: bold 3em "Road Rage(RUS BY LYAJKA)",serif;
    font-weight:250;
    font-stretch:expanded;
    color:#8B008B;
    text-shadow:2px 0 2px #4B0082, 
                0 2px 2px #4B0082, 
                -2px 0 2px #4B0082, 
                0 -2px 2px #4B0082,
                2px 2px 2px #4B0082;
  }
 .text {
    text-align:center;
   }
 .uv{
     font:bold 4.5em "Road Rage(RUS BY LYAJKA)",serif;
    }
 .bn {
        border:5px solid #8B008B;
     }

@font-face {
    font-family:Road Rage(RUS BY LYAJKA); 
    src:url(13891.ttf); 
   }
@font-face {
    font-family:Road Rage(RUS BY LYAJKA); 
    src:url(13891.ttf); 
}
.DivBackground {
	background-color:rgba(100%,100%,100%,0.5);
	border:1px solid #8B008B;
	padding:10px;
	margin-left:2%;
	margin-right:2%;
	border-radius:5px;
}
