.ab1
{
    background-color:#9f559f;
    font-family:matura mt script capitals;
    font-style:italic;
    font-size:40px;
    color:#fe83ae;
    height:200px;
    text-align:left;
    padding-left:100px;
    padding-top:50px;
}
.ab2
{
    background-color:#a6abee;
    font-family:brush script mt;
    font-style:normal;
    font-size:50px;
    color:#fa5d71;
    height:200px;
    text-align:center;
    padding-left:100px;
    padding-top:50px;
}
.ab3
{
    background-color:#3667a6;
    font-family:fantasy;
    font-style:oblique;
    font-size:60px;
    color:#aae7f0;
    height:200px;
    text-align:right;
    padding-right:100px;
    padding-top:50px;
}
.ab1:hover
{
    background-color:#574992;
}
.ab2:hover
{
    background-color:#aae7f0;
}
.ab3:hover
{
    background-color:#82a6cc;
}
