  h1,h2 {
    font: bold 3em "Game of Thrones KG",serif;
    font-weight:250;
    font-stretch:expanded;
    color:#8B008B;
    text-shadow:2px 0 2px #4B0082, 
                0 2px 2px #4B0082, 
                -2px 0 2px #4B0082, 
                0 -2px 2px #4B0082,
                2px 2px 2px #4B0082;
}
body{ background-size: cover;
}
 .text {
  text-align:center;
}

 .uv {
   font:bold 4.5em "Game of Thrones KG",serif;
}

 .bn {
   border:5px solid #8B008B;
}

@font-face {
   font-family: Game of Thrones KG; 
   src:url(9327.ttf); 
}

@font-face {
   font-family: Game of Thrones KG; 
   src:url(9327.ttf); 
}

.DivBackground {
   background-color:rgba(100%,100%,100%,0.5);
   border:5px solid #8B008B;
   padding:10px;
   margin-left:2%;
   margin-right:2%;
   border-radius:5px;
}
