body{
  background-image:url(fon.jpg);
}

img{
    width: 400px;
    height: 800px;
    margin-left: 10%;
}
.p1
{
    font-size: 50px;
    margin-left: 8%;
    float: center;
}
.p2
{
    font-size: 50px;
    text-align: center;
}
.p3
{
    font-size: 50px;
    float: left;
    margin-left: 20%;
}
p.size
{
    font-family: cursive;
    font-size: 50px;
    text-align: center;
}
p:first-letter
{
    font-family: Impact;
    font-size: 100px;
    color: navy;
}
.page_style {
    background-color: #eed774;
    border: 5px #100977 solid;
    width: 30%;
}
.pageBox {
    display: none;
}
.pageBox:target {
    display: block;
}
.calend_style
{
    background-color: #eed774;
    border: 5px #772f12 solid;
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    margin: auto;
}
.calendBox
{
    display: none;
}
.calendBox:target
{
    display: block;
}
.page1Box {
    display: none;
}
.page1Box:target {
    display: block;
}
.page1_style {
    background-color: #eed774;
    border: 5px #100977 solid;
    margin-left: 70%;
}
