body{
  background-image:url(C1ark.jpg);
  background-size: cover;
}

.p1
{
    font-family:Game of Thrones KG;
    font-size: 50px;
    text-align: center;
}
p.size
{
    font-family:Game of Thrones KG;
    font-size: 50px;
    text-align: center;
}
.page_style {
    background-color:#FFFFFF;
    border: 5px #800080 solid;
    text-align: center;
    margin: auto
}
.pageBox {
    display: none;
}
.pageBox:target {
    display: block;
}

.page1_style {
    background-color: #eed774;
    border: 5px #100977 solid;
    margin-left: 70%;
}
.tt{
  margin-top: 90%
}
@font-face {
   font-family: Game of Thrones KG; 
   src:url(9327.ttf); 
}
